# Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Angular
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment
*.env
application-local.properties
